*, *::before, *::after { 
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

/* Main menu popup */

.addtocartimg{
    display: none;
    border: none;
    height: 40px;
    width: 40px;
}

.carttext{
    display: none;
    border: none;
}

.cartnum{
    display: none;
    background-color: whitesmoke;
    color: dodgerblue;
    border-color: salmon;
    border-style: ridge;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0 3%;
    margin: 0 3%;
}

.mainmenu-toggle {
    display: block;
    margin: 1em 0;
    cursor: pointer;
    margin-left: auto;
  }
  
  .navigation {
    margin: 1em 0;
  }
    .navigation ul {
      list-style: none;
    }
  
  .mainmenu {
    background-color: steelblue;
    color: black;
    padding: 1em;
    margin: 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 10em;
    height: 100%;
    transform: translateX(-10em);
    transition: transform 0.3s;
  }
    .mainmenu li {
      line-height: 1.5;
    }
      .mainmenu a {
        color: var(--col-fg);
        text-decoration: none;
      }
  .mainmenu.open { 
    transform: translateX(0em);
  }
  
  .page {
    padding: 0 1em;
  }

/* --------------------------------------------------------------- */

.logo{
    max-width: 20%;
    max-height: 40%;
    border-radius: 75px;
}

body{
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.top{
    display: block;
    background-color: rgb(31, 58, 109);
    text-align: left;
    font-size: 1rem;
    padding: 1% 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;    
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

.menu-button{
    margin-left: 3%;
    margin-right: 30%;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 2px;
}

.menu-button:hover, .menubotton:focus {
    background-color: #2980B9;
}

.menulist:hover {
    background-color: slategray;
    color: white;
}

.menulist:focus {
    background-color: dodgerblue;
    color: white;
}

.signin{
    height: auto;
    width: auto;
    margin-left: 24%;
    max-height: 15%;
    max-width: 8%;
}

.centerme{
    text-align: center;
    margin-top: 1%;
}

.subhead{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1% 15%;
    margin: 1% 0;
}

.timadtop{
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border-style: ridge;
    border-width: thick;
    border-color: brown;
    width: 30%;
}

.boxfields{
    border-radius: 2px;
}

.marg-top{
    margin-top: 27%;
}

/* Dropdown menu section */

.dropdownlist{
    margin-top: 5%;
    font-size: 1rem;
    color: gray;
}

.somecontainer{
    margin: 22% auto 0 auto;
    background-color: whitesmoke;
}

.filtercss{
    display: block;
    border-width: medium;
    border-style: solid;
    border-color: gray;
    border-radius: 7px;
    color: whitesmoke;
    background-color: rgb(31, 58, 109); 
    margin:7% 0;
    padding: 2% 0;
    text-align: center;
}

.filtergrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 15%;
    /* padding: 0 5%; */
    text-align: center;
}

.filtertitlecolour{
    background-color: teal;
    color: white;
    border-style: solid;
    border-width: .1rem;
    border-color: gray  ;
    text-align: center;
}

.filtertitlesize{
    background-color: black;
    color: white;
    border-style: solid;
    border-width: .1rem;
    border-color: gray;
    text-align: center;
}

.shoecolor{
    text-align: center;
}

.shoesize{
    text-align: center;
}

.searchresults{
    display: block;
    margin: 1% 0;
    border-color: gray;
    border-radius: 7px;
    color: whitesmoke;
    background-color: rgb(31, 58, 109); 
    margin:7% 0;
    padding: 2% 0;
    border-style: solid;
    border-width: medium;
    text-align: center;
}

.product{
    border-style: solid;
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
    border-left-color: lightgray;
    border-right-color: lightgray;
    border-width: .009rem;
    padding: 2% 0;
}

.imgclass{
    max-width: auto;
    max-height: auto;
    border-style: solid;
    border-width: medium;
    border-color: rgb(31, 58, 109);
    border-radius: 7px;
    border-left-color: steelblue;
    -webkit-box-shadow: 0 10px 11px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 10px 11px rgba(0, 0, 0, 0.12);
    box-shadow: 0 10px 11px rgba(0, 0, 0, 0.12);
}

.quant{
    text-align: center;
    color: rgb(31, 58, 109);
    font-weight: bold;
}

.prodtitle{
    font-weight: bold;
    padding: 2% 0;
    font-size: 1.5rem;
    color: dodgerblue; 
    text-align: center;
}

.proddesc{
    padding: 2% 0;
    font-size: 1rem;
    color: steelblue; 
    text-align: center;
}

.swatches {
  display: inline-block;
}

.swatches li {  
  display: inline-block;
  vertical-align: middle;
}

.product-color {  
  display: block;
  /* position: relative; */
}

.product-color span { 
  display: block;
  border: 2px solid transparent;
  color: transparent;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.product-color input {  
  position: absolute;
  opacity: 0;
  
}

.product-color input:checked + span {  
  border: 2px solid #222; 
}

.product-color.red { 
    background-color: red; 
}
.product-color.blue { 
    background-color: steelblue; 
}
.product-color.white { 
    background-color: white; 
    border-style: solid;
    border-color: gray;
}

.proddetails{
    text-align: center;
    padding: 2% 3%;
}


/* Callouts depending on product stock */

.callout {
    display: inline-block;
    font-size: 0.5em;
    vertical-align: top;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    text-shadow: 0.125em 0.125em 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
  }
  .limitedstock {
    background-color: crimson;
  }

/* -------------------------------------------------------- */

.swatch{
    display: block;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.purchaseme{
    display: inline-block;
    background-color: green;
    padding: 3% 15%;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    border-width: 5px;
    margin-left: 30%;
    margin-bottom: 1%;
}

.cantpurchaseme{
    display: inline-block;
    background-color: black;
    padding: 3% 15%;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    border-width: 5px;
    margin-left: 30%;
    margin-bottom: 1%;
}

.discount{
    font-style: helvetica;
    color: red;
    text-align: left;
    font-weight: bold;
}

.newprice{
    font-style: helvetica;
    color: green;
    font-weight: bold;
}

.addtocart{
    position: relative; 
    font-size: .8rem;
    /* padding: 6%; */
    top: -3px;
}

.nowshowing{
    color: rgb(31, 58, 109);
    text-align: center;
    margin-bottom: 3%;
}

.adcss{
    display: block;
    border-width: medium;
    border-style: solid;
    border-color: gray;
    color: whitesmoke;
    background-color: rgb(31, 58, 109); 
    margin:7% 0;
    padding: 2% 0;
    text-align: center;
}

.weatherstack{
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    padding: 2% 0;
    background-color: steelblue;
    margin:1% 2% 5% 2%;
    color: white;
}

.weathertext{
    margin-top: 2%;
}

.footertext{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
    padding: 2% 3%;
    text-align: center;
}

.footericons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 0 12%;
    font-size: 2rem;
    background-color: rgb(31, 58, 109);
    color: white;
}

/* Media queries start here */

@media only screen and (min-width: 400px) {
   
    .signin{
        height: auto;
        width: auto;
    }
    
    .imgclass{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .mainmenu {
        top: 10%;
      }

    .timad{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 7px;
        border-style: ridge;
        border-width: thick;
        border-color: brown;
        width: 30%;
    }

    .kingad{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 7px;
        width: 70%;
    }

}

@media only screen and (min-width: 500px) {
    .menu-button{
        height: 50px;
        width: 40px;
        text-align: center;
    }

    .mainmenu {
        top: 110px;
      }

    .filtercss{
        margin:5% 0%;
    }

    .adcss{
        margin:7% 0%;
        border-radius: 7px;
    }

    .searchresults{
        margin:7% 0%;
    }

    .filtertitlecolour{
        width: 200px;
        margin-left: 10%;
    }
    
    .filtertitlesize{
        width: 200px;
        margin-left: 10%;
    }

    .prodinfo{
        display: block;
        padding: 1% 0;
        width: 90%;
        grid-template-columns: 1fr 1fr;
        font-size: 1.2rem;
    }

    .proddesc{
        padding: 0;
        text-align: center;
        font-size: 1rem;
    }

    .proddetails{
        text-align: left;
        margin-top: 7%;
    }

    .bottomprodinfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1rem;
        text-align: center;
    }

}

@media only screen and (min-width: 600px) {

    .mainmenu {
        top: 130px;
      }   

@media only screen and (min-width: 700px) {

    .top{
        width: 100%;
    }
 
    .logo{
        max-width: 20%;
        max-height: 90px;
        margin-left: 2%;
    }

    .signin{
        max-height: 50px;
        margin-left: 30%;
    }

    .mainmenu {
        top: 100px;
      }

    .menu-button{
        margin-left: 5%;
        padding-left: .3%;
    }

    .centerme{
        margin-top: 20px;
    }
    
    .marg-top{
        margin-top: 22%;
        font-size: 1.5rem;
    }

    .dropdownlist{
        font-size: 1.5rem;
    }

    .adcss{
        font-size: 1.5rem;
    }

    .filtergrid{
        font-size: 1.5rem;
        margin: 0 20%;
    }

    .imgclass{
        max-height: 500px;
        max-width: 400px;
    }

    .searchresults{
        font-size: 2rem;
    }

    .filtercss{
        font-size: 2rem;
    }

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .prodinfo{
        display: block;
        padding: 1% 0;
        width: 100%;
    }

    .bottomprodinfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1rem;
    }

    .purchaseme{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .cantpurchaseme{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    /* Product zoom */

    .zoom {
        background-color: black;
        transition: transform .2s; 
        margin: 0 auto;
    }
    
    .zoom:hover {
        transform: scale(2); 
    }

    
}

@media only screen and (min-width: 800px) {

    .signin{
        margin-left: 37%;
    }

    .finalcut{
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        margin-left: 3.5%;
    }

    .proddesc{
        justify-self: center;
    }

    .quant{
        margin-left: 20%; 
    }

    .product{
        display: inline-block;
        background-color: lightgray;
        border-style: solid;
        border-top-color: gray;
        border-left-color: gray;
        box-shadow: 10px 5px 5px gray;
        border-width: .009rem;
        border-radius: 6px;
        margin: 2%;
        padding: 2% 0;
    }

    .prodinfo{
        display: block;
        margin: 0 -10%;
        padding: 1% 0;
        width: 100%;
    }

    .nowshowing{
        font-size: 1.2rem;
    }

    .marg-top{
        margin-top: 13%;
    }

    .filtergrid{
        margin: 0 25%;
    }

    .nowshowing{
        margin-top: 5%;
    }

}


@media only screen and (min-width: 900px) {

    .signin{
        display: none;
    }

    .addtocartimg{
        display: inline-block;
        margin-left: 33%;
        margin-top: -2%;
        height: 40px;   
        width: 40px;
    }
    
    .carttext{
        display: inline-block;
        border: whitesmoke;
        color: white;     
        padding: 0 1%;
        margin-left: -2%;
        margin-top: 0;
        text-align: center;
    }

    .cartnum{
        display: inline-block;
        background-color: whitesmoke;
        color: dodgerblue;
        border-color: salmon;
        text-align: center;
        padding: 0 5%;
        margin: 0;
    }

    .filtercss{
        display: none;
    }

    .filtertitlecolour{
        margin-left: 30%;
    }

    .filtertitlesize{
        margin-left: 30%;
    }

    .searchresults{
        margin: 2% 0;
    }

    .backad{
        background-image: url('/img/runningman.webp');
        background-size: cover;
    }
}

@media only screen and (min-width: 1000px) {


}

}